Ovadia Sutton
AIM 5001 Project 1
Text Processing and Regular Expressions

Import libraries

In [466]:
import re
import pandas as pd
import numpy as np
import statistics as st

Declare a text variable with text block provided

In [467]:
#Decalre text as one long string 
text = "555-1239Dr. Anthony Fauci(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Scott555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni"

#Task 1:
Extract the names of each individual from the unformatted text string shown above and store them in a vector of some sort.

We collect strings that contain any letters both uppercase and lowercase and allow the possibility of punctuation such as  , . or space. We demand 2 plus matches to avoid collecting the single spaces.

In [468]:
#Declare a variable 'names' which finds strings of words and related punctuation and spacing - therefore extracting each full name as a separate entry in our vector
names = re.findall('([A-Za-z?,?.?\s?]{2,})', text)

#print results
print(names)

['Dr. Anthony Fauci', 'Hollingdorp, Donnatella', 'Fitzgerald, F. Scott', 'Rev. Martin Luther King', 'Snodgrass, Theodore', 'Carlamina Scarfoni']

#Task 2a:
Use your regex skills to rearrange the vector so that all elements conform to the standard “firstname lastname”, preserving any titles (e.g., “Rev.”, “Dr.”, etc) or middle/second names.

Here I create a new vector. We loop through the names vector and identify if a name is followed by a ','. This indicates a last name preceding the first name. We use the sub function to swap the order of the two groups

In [469]:
#Declare new list
firstlast = []

#Loop through names and identify last names preceding first names based on ','. then swap first and last name
for i in names:
    firstlast.append(re.sub('^([^,]*), (.*)', "\g<2> \g<1>", i))

#print reults
print(firstlast)

['Dr. Anthony Fauci', 'Donnatella Hollingdorp', 'F. Scott Fitzgerald', 'Rev. Martin Luther King', 'Theodore Snodgrass', 'Carlamina Scarfoni']

#Task 2b:
Using your regex skills, construct a logical vector indicating whether a character has a title (i.e., Rev. and Dr.).

Again we create a new vector and that loops through our new list of firstlast names.
If the first letters encountered are more than two letters (avoiding single initital) and are followed by a '.', we deem it a title and add full name to vector.

In [470]:
#Create a new list
Title = []

#Loop through names and identify titles by seeing two or more letters followed by a '.'
for i in firstlast:
    Title.append(re.findall('([A-Za-z]{2,}[\.][A-Za-z\s]+)', i))

#Print results
print(Title)

[['Dr. Anthony Fauci'], [], [], ['Rev. Martin Luther King'], [], []]

We use a pandas series to extract the logical version of this in a table
We can also use the str.contains to see just true or false, but we were prompted to use extract by Jupyter
Here we also extract just the title in a separate column

In [471]:
#Declare firstlast in pd series
firstlast = pd.Series(firstlast)

#Extract results based on the same regex as above
firstlast.str.extract('(([A-Za-z]{2,}[\.])[A-Za-z\s]+)')

                         0     1
0        Dr. Anthony Fauci   Dr.
1                      NaN   NaN
2                      NaN   NaN
3  Rev. Martin Luther King  Rev.
4                      NaN   NaN
5                      NaN   NaN

#Task 2c:
Using your regex skills, construct a logical vector indicating whether a character has a middle/second name.

Use pandas vectorized string functions to identify if person has a middle name
We do this by allowing for a first initial. (one capital letter) followed by two more words separated by a space, or 3 words without any '.' in them

*We note that we could have used the above approaches as well (new list or pandas extract function)

In [472]:
#Use pandas contians to find middle name (3 separate words or two preceded by a single initial)
firstlast.str.contains('(([A-Z\.]{2}|[A-Za-z]+)[\s][A-Za-z]+[\s][A-Za-z]+)')

C:\Users\OVADIA~1\AppData\Local\Temp/ipykernel_98928/3618682810.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  firstlast.str.contains('(([A-Z\.]{2}|[A-Za-z]+)[\s][A-Za-z]+[\s][A-Za-z]+)')

0    False
1    False
2     True
3     True
4    False
5    False
dtype: bool

#Task 3:
Consider the HTML string <title>+++BREAKING NEWS+++<title>. We would like to extract the first HTML tag (i.e., “<title>”). To do so we write the regular expression “<.+>”.  Explain why this fails and correct the expression.

From https://docs.python.org/3/library/re.html
"
*?, +?, ??
The '*', '+', and '?' qualifiers are all greedy; they match as much text as possible. Sometimes this behaviour isn’t desired; if the RE <.*> is matched against '<a> b <c>', it will match the entire string, and not just '<a>'. Adding ? after the qualifier makes it perform the match in non-greedy or minimal fashion; as few characters as possible will be matched. Using the RE <.*?> will match only '<a>'.
"
The same is true here for the +. In short the + is more inclusive than we would like it to be and it matches the entire string.

In [473]:
#Without the ? matches entire string 

#Declare string
news = '<title>+++BREAKING NEWS+++<title>'

#Perform search with regex in problem (the greedy +)
search = re.search('<.+>', news)

#Print results shows entire string is in search
print(search)

<re.Match object; span=(0, 33), match='<title>+++BREAKING NEWS+++<title>'>

And so we edit to +? giving the desired result

In [474]:
#With the ? only <title>

#Declare string
news = '<title>+++BREAKING NEWS+++<title>'

#Perform search with the non-greedy +?
search = re.search('<.+?>', news)

#Print resulst shows search returns as desired
print(search)

<re.Match object; span=(0, 7), match='<title>'>

Task 4:
Consider the string “(5-3)^2=5^2-2*5*3+3^2” conforms to the binomial theorem. We would like to extract the equation in its entirety from the string. To do so we write the regular expression “[^0-9=+*()]+”. Explain why this fails and correct the expression.

The '^'  -  "Matches the start of the string" (https://docs.python.org/3/library/re.html)
As such, here it is not including the ^ as the "power of" sign rather the start of string 
As well, the '-' sign is only used here to express range from 0 to 9 and is not including the "subtraction" sign

In [475]:
#Declare binomial string
binomial = '(5-3)^2=5^2-2*5*3 +3^2'

#Search with above suggestion
search = re.search('[^0-9=+*()]+', binomial)

#Print results showing only beginning is observed
print(search)

<re.Match object; span=(2, 3), match='-'>

So we edit moving the '^' to the end as well as an extra '-' at the end

In [476]:
#Declare binomial string
binomial = '(5-3)^2=5^2-2*5*3 +3^2'

#Search with ^ and - at end
search = re.search('[0-9=+*()^-]+', binomial)

#Print results and show the entire equation as desired
print(search)

<re.Match object; span=(0, 17), match='(5-3)^2=5^2-2*5*3'>

Part 2

We read in the file for reference

In [477]:
#Set f to open file path
f = open(r"C:\Users\ovadia sutton\Downloads\Project1.txt")

#read f and print
print(f.read())

-----------------------------------------------------------------------------------------
 Pair | Player Name                     |Total|Round|Round|Round|Round|Round|Round|Round|
 Num  | USCF ID / Rtg (Pre->Post)       | Pts |  1  |  2  |  3  |  4  |  5  |  6  |  7  |
-----------------------------------------------------------------------------------------
    1 | GARY HUA                        |6.0  |W  39|W  21|W  18|W  14|W   7|D  12|D   4|
   ON | 15445895 / R: 1794   ->1817     |N:2  |W    |B    |W    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
    2 | DAKSHESH DARURI                 |6.0  |W  63|W  58|L   4|W  17|W  16|W  20|W   7|
   MI | 14598900 / R: 1553   ->1663     |N:2  |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
    3 | ADITYA BAJAJ                    |6.0  |L   8|W  61|W  25|W  21|W  11|W  13|W  12|
   MI | 14959604 / R: 1384   ->1640     |N:2  |W    |B    |W    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
    4 | PATRICK H SCHILLING             |5.5  |W  23|D  28|W   2|W  26|D   5|W  19|D   1|
   MI | 12616049 / R: 1716   ->1744     |N:2  |W    |B    |W    |B    |W    |B    |B    |
-----------------------------------------------------------------------------------------
    5 | HANSHI ZUO                      |5.5  |W  45|W  37|D  12|D  13|D   4|W  14|W  17|
   MI | 14601533 / R: 1655   ->1690     |N:2  |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
    6 | HANSEN SONG                     |5.0  |W  34|D  29|L  11|W  35|D  10|W  27|W  21|
   OH | 15055204 / R: 1686   ->1687     |N:3  |W    |B    |W    |B    |B    |W    |B    |
-----------------------------------------------------------------------------------------
    7 | GARY DEE SWATHELL               |5.0  |W  57|W  46|W  13|W  11|L   1|W   9|L   2|
   MI | 11146376 / R: 1649   ->1673     |N:3  |W    |B    |W    |B    |B    |W    |W    |
-----------------------------------------------------------------------------------------
    8 | EZEKIEL HOUGHTON                |5.0  |W   3|W  32|L  14|L   9|W  47|W  28|W  19|
   MI | 15142253 / R: 1641P17->1657P24  |N:3  |B    |W    |B    |W    |B    |W    |W    |
-----------------------------------------------------------------------------------------
    9 | STEFANO LEE                     |5.0  |W  25|L  18|W  59|W   8|W  26|L   7|W  20|
   ON | 14954524 / R: 1411   ->1564     |N:2  |W    |B    |W    |B    |W    |B    |B    |
-----------------------------------------------------------------------------------------
   10 | ANVIT RAO                       |5.0  |D  16|L  19|W  55|W  31|D   6|W  25|W  18|
   MI | 14150362 / R: 1365   ->1544     |N:3  |W    |W    |B    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   11 | CAMERON WILLIAM MC LEMAN        |4.5  |D  38|W  56|W   6|L   7|L   3|W  34|W  26|
   MI | 12581589 / R: 1712   ->1696     |N:3  |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
   12 | KENNETH J TACK                  |4.5  |W  42|W  33|D   5|W  38|H    |D   1|L   3|
   MI | 12681257 / R: 1663   ->1670     |N:3  |W    |B    |W    |B    |     |W    |B    |
-----------------------------------------------------------------------------------------
   13 | TORRANCE HENRY JR               |4.5  |W  36|W  27|L   7|D   5|W  33|L   3|W  32|
   MI | 15082995 / R: 1666   ->1662     |N:3  |B    |W    |B    |B    |W    |W    |B    |
-----------------------------------------------------------------------------------------
   14 | BRADLEY SHAW                    |4.5  |W  54|W  44|W   8|L   1|D  27|L   5|W  31|
   MI | 10131499 / R: 1610   ->1618     |N:3  |W    |B    |W    |W    |B    |B    |W    |
-----------------------------------------------------------------------------------------
   15 | ZACHARY JAMES HOUGHTON          |4.5  |D  19|L  16|W  30|L  22|W  54|W  33|W  38|
   MI | 15619130 / R: 1220P13->1416P20  |N:3  |B    |B    |W    |W    |B    |B    |W    |
-----------------------------------------------------------------------------------------
   16 | MIKE NIKITIN                    |4.0  |D  10|W  15|H    |W  39|L   2|W  36|U    |
   MI | 10295068 / R: 1604   ->1613     |N:3  |B    |W    |     |B    |W    |B    |     |
-----------------------------------------------------------------------------------------
   17 | RONALD GRZEGORCZYK              |4.0  |W  48|W  41|L  26|L   2|W  23|W  22|L   5|
   MI | 10297702 / R: 1629   ->1610     |N:3  |W    |B    |W    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   18 | DAVID SUNDEEN                   |4.0  |W  47|W   9|L   1|W  32|L  19|W  38|L  10|
   MI | 11342094 / R: 1600   ->1600     |N:3  |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
   19 | DIPANKAR ROY                    |4.0  |D  15|W  10|W  52|D  28|W  18|L   4|L   8|
   MI | 14862333 / R: 1564   ->1570     |N:3  |W    |B    |W    |B    |W    |W    |B    |
-----------------------------------------------------------------------------------------
   20 | JASON ZHENG                     |4.0  |L  40|W  49|W  23|W  41|W  28|L   2|L   9|
   MI | 14529060 / R: 1595   ->1569     |N:4  |W    |B    |W    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   21 | DINH DANG BUI                   |4.0  |W  43|L   1|W  47|L   3|W  40|W  39|L   6|
   ON | 15495066 / R: 1563P22->1562     |N:3  |B    |W    |B    |W    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   22 | EUGENE L MCCLURE                |4.0  |W  64|D  52|L  28|W  15|H    |L  17|W  40|
   MI | 12405534 / R: 1555   ->1529     |N:4  |W    |B    |W    |B    |     |W    |B    |
-----------------------------------------------------------------------------------------
   23 | ALAN BUI                        |4.0  |L   4|W  43|L  20|W  58|L  17|W  37|W  46|
   ON | 15030142 / R: 1363   ->1371     |     |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
   24 | MICHAEL R ALDRICH               |4.0  |L  28|L  47|W  43|L  25|W  60|W  44|W  39|
   MI | 13469010 / R: 1229   ->1300     |N:4  |B    |W    |B    |B    |W    |W    |B    |
-----------------------------------------------------------------------------------------
   25 | LOREN SCHWIEBERT                |3.5  |L   9|W  53|L   3|W  24|D  34|L  10|W  47|
   MI | 12486656 / R: 1745   ->1681     |N:4  |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
   26 | MAX ZHU                         |3.5  |W  49|W  40|W  17|L   4|L   9|D  32|L  11|
   ON | 15131520 / R: 1579   ->1564     |N:4  |B    |W    |B    |W    |B    |W    |W    |
-----------------------------------------------------------------------------------------
   27 | GAURAV GIDWANI                  |3.5  |W  51|L  13|W  46|W  37|D  14|L   6|U    |
   MI | 14476567 / R: 1552   ->1539     |N:4  |W    |B    |W    |B    |W    |B    |     |
-----------------------------------------------------------------------------------------
   28 | SOFIA ADINA STANESCU-BELLU      |3.5  |W  24|D   4|W  22|D  19|L  20|L   8|D  36|
   MI | 14882954 / R: 1507   ->1513     |N:3  |W    |W    |B    |W    |B    |B    |W    |
-----------------------------------------------------------------------------------------
   29 | CHIEDOZIE OKORIE                |3.5  |W  50|D   6|L  38|L  34|W  52|W  48|U    |
   MI | 15323285 / R: 1602P6 ->1508P12  |N:4  |B    |W    |B    |W    |W    |B    |     |
-----------------------------------------------------------------------------------------
   30 | GEORGE AVERY JONES              |3.5  |L  52|D  64|L  15|W  55|L  31|W  61|W  50|
   ON | 12577178 / R: 1522   ->1444     |     |W    |B    |B    |W    |W    |B    |B    |
-----------------------------------------------------------------------------------------
   31 | RISHI SHETTY                    |3.5  |L  58|D  55|W  64|L  10|W  30|W  50|L  14|
   MI | 15131618 / R: 1494   ->1444     |     |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
   32 | JOSHUA PHILIP MATHEWS           |3.5  |W  61|L   8|W  44|L  18|W  51|D  26|L  13|
   ON | 14073750 / R: 1441   ->1433     |N:4  |W    |B    |W    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   33 | JADE GE                         |3.5  |W  60|L  12|W  50|D  36|L  13|L  15|W  51|
   MI | 14691842 / R: 1449   ->1421     |     |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
   34 | MICHAEL JEFFERY THOMAS          |3.5  |L   6|W  60|L  37|W  29|D  25|L  11|W  52|
   MI | 15051807 / R: 1399   ->1400     |     |B    |W    |B    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   35 | JOSHUA DAVID LEE                |3.5  |L  46|L  38|W  56|L   6|W  57|D  52|W  48|
   MI | 14601397 / R: 1438   ->1392     |     |W    |W    |B    |W    |B    |B    |W    |
-----------------------------------------------------------------------------------------
   36 | SIDDHARTH JHA                   |3.5  |L  13|W  57|W  51|D  33|H    |L  16|D  28|
   MI | 14773163 / R: 1355   ->1367     |N:4  |W    |B    |W    |B    |     |W    |B    |
-----------------------------------------------------------------------------------------
   37 | AMIYATOSH PWNANANDAM            |3.5  |B    |L   5|W  34|L  27|H    |L  23|W  61|
   MI | 15489571 / R:  980P12->1077P17  |     |     |B    |W    |W    |     |B    |W    |
-----------------------------------------------------------------------------------------
   38 | BRIAN LIU                       |3.0  |D  11|W  35|W  29|L  12|H    |L  18|L  15|
   MI | 15108523 / R: 1423   ->1439     |N:4  |W    |B    |W    |W    |     |B    |B    |
-----------------------------------------------------------------------------------------
   39 | JOEL R HENDON                   |3.0  |L   1|W  54|W  40|L  16|W  44|L  21|L  24|
   MI | 12923035 / R: 1436P23->1413     |N:4  |B    |W    |B    |W    |B    |W    |W    |
-----------------------------------------------------------------------------------------
   40 | FOREST ZHANG                    |3.0  |W  20|L  26|L  39|W  59|L  21|W  56|L  22|
   MI | 14892710 / R: 1348   ->1346     |     |B    |B    |W    |W    |B    |W    |W    |
-----------------------------------------------------------------------------------------
   41 | KYLE WILLIAM MURPHY             |3.0  |W  59|L  17|W  58|L  20|X    |U    |U    |
   MI | 15761443 / R: 1403P5 ->1341P9   |     |B    |W    |B    |W    |     |     |     |
-----------------------------------------------------------------------------------------
   42 | JARED GE                        |3.0  |L  12|L  50|L  57|D  60|D  61|W  64|W  56|
   MI | 14462326 / R: 1332   ->1256     |     |B    |W    |B    |B    |W    |W    |B    |
-----------------------------------------------------------------------------------------
   43 | ROBERT GLEN VASEY               |3.0  |L  21|L  23|L  24|W  63|W  59|L  46|W  55|
   MI | 14101068 / R: 1283   ->1244     |     |W    |B    |W    |W    |B    |B    |W    |
-----------------------------------------------------------------------------------------
   44 | JUSTIN D SCHILLING              |3.0  |B    |L  14|L  32|W  53|L  39|L  24|W  59|
   MI | 15323504 / R: 1199   ->1199     |     |     |W    |B    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   45 | DEREK YAN                       |3.0  |L   5|L  51|D  60|L  56|W  63|D  55|W  58|
   MI | 15372807 / R: 1242   ->1191     |     |W    |B    |W    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   46 | JACOB ALEXANDER LAVALLEY        |3.0  |W  35|L   7|L  27|L  50|W  64|W  43|L  23|
   MI | 15490981 / R:  377P3 ->1076P10  |     |B    |W    |B    |W    |B    |W    |W    |
-----------------------------------------------------------------------------------------
   47 | ERIC WRIGHT                     |2.5  |L  18|W  24|L  21|W  61|L   8|D  51|L  25|
   MI | 12533115 / R: 1362   ->1341     |     |W    |B    |W    |B    |W    |B    |W    |
-----------------------------------------------------------------------------------------
   48 | DANIEL KHAIN                    |2.5  |L  17|W  63|H    |D  52|H    |L  29|L  35|
   MI | 14369165 / R: 1382   ->1335     |     |B    |W    |     |B    |     |W    |B    |
-----------------------------------------------------------------------------------------
   49 | MICHAEL J MARTIN                |2.5  |L  26|L  20|D  63|D  64|W  58|H    |U    |
   MI | 12531685 / R: 1291P12->1259P17  |     |W    |W    |B    |W    |B    |     |     |
-----------------------------------------------------------------------------------------
   50 | SHIVAM JHA                      |2.5  |L  29|W  42|L  33|W  46|H    |L  31|L  30|
   MI | 14773178 / R: 1056   ->1111     |     |W    |B    |W    |B    |     |B    |W    |
-----------------------------------------------------------------------------------------
   51 | TEJAS AYYAGARI                  |2.5  |L  27|W  45|L  36|W  57|L  32|D  47|L  33|
   MI | 15205474 / R: 1011   ->1097     |     |B    |W    |B    |W    |B    |W    |W    |
-----------------------------------------------------------------------------------------
   52 | ETHAN GUO                       |2.5  |W  30|D  22|L  19|D  48|L  29|D  35|L  34|
   MI | 14918803 / R:  935   ->1092     |N:4  |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
   53 | JOSE C YBARRA                   |2.0  |H    |L  25|H    |L  44|U    |W  57|U    |
   MI | 12578849 / R: 1393   ->1359     |     |     |B    |     |W    |     |W    |     |
-----------------------------------------------------------------------------------------
   54 | LARRY HODGE                     |2.0  |L  14|L  39|L  61|B    |L  15|L  59|W  64|
   MI | 12836773 / R: 1270   ->1200     |     |B    |B    |W    |     |W    |B    |W    |
-----------------------------------------------------------------------------------------
   55 | ALEX KONG                       |2.0  |L  62|D  31|L  10|L  30|B    |D  45|L  43|
   MI | 15412571 / R: 1186   ->1163     |     |W    |B    |W    |B    |     |W    |B    |
-----------------------------------------------------------------------------------------
   56 | MARISA RICCI                    |2.0  |H    |L  11|L  35|W  45|H    |L  40|L  42|
   MI | 14679887 / R: 1153   ->1140     |     |     |B    |W    |W    |     |B    |W    |
-----------------------------------------------------------------------------------------
   57 | MICHAEL LU                      |2.0  |L   7|L  36|W  42|L  51|L  35|L  53|B    |
   MI | 15113330 / R: 1092   ->1079     |     |B    |W    |W    |B    |W    |B    |     |
-----------------------------------------------------------------------------------------
   58 | VIRAJ MOHILE                    |2.0  |W  31|L   2|L  41|L  23|L  49|B    |L  45|
   MI | 14700365 / R:  917   -> 941     |     |W    |B    |W    |B    |W    |     |B    |
-----------------------------------------------------------------------------------------
   59 | SEAN M MC CORMICK               |2.0  |L  41|B    |L   9|L  40|L  43|W  54|L  44|
   MI | 12841036 / R:  853   -> 878     |     |W    |     |B    |B    |W    |W    |B    |
-----------------------------------------------------------------------------------------
   60 | JULIA SHEN                      |1.5  |L  33|L  34|D  45|D  42|L  24|H    |U    |
   MI | 14579262 / R:  967   -> 984     |     |W    |B    |B    |W    |B    |     |     |
-----------------------------------------------------------------------------------------
   61 | JEZZEL FARKAS                   |1.5  |L  32|L   3|W  54|L  47|D  42|L  30|L  37|
   ON | 15771592 / R:  955P11-> 979P18  |     |B    |W    |B    |W    |B    |W    |B    |
-----------------------------------------------------------------------------------------
   62 | ASHWIN BALAJI                   |1.0  |W  55|U    |U    |U    |U    |U    |U    |
   MI | 15219542 / R: 1530   ->1535     |     |B    |     |     |     |     |     |     |
-----------------------------------------------------------------------------------------
   63 | THOMAS JOSEPH HOSMER            |1.0  |L   2|L  48|D  49|L  43|L  45|H    |U    |
   MI | 15057092 / R: 1175   ->1125     |     |W    |B    |W    |B    |B    |     |     |
-----------------------------------------------------------------------------------------
   64 | BEN LI                          |1.0  |L  22|D  30|L  31|D  49|L  46|L  42|L  54|
   MI | 15006561 / R: 1163   ->1112     |     |B    |W    |W    |B    |W    |B    |B    |
-----------------------------------------------------------------------------------------

Store player names

Player names uniquely have at least two words and all in caps. We read in the file and collect all strings with at least one capital letter followed by a space followed by at least one capital letter followed by a space and then allow for the option of more words and spaces until we observe the '|'. We also allow "',.-" in the middle and last name.

In [478]:
#Create empty list
PlayerNames = []

#Open file
with open(r"C:\Users\ovadia sutton\Downloads\Project1.txt") as f:
    #Loop through lines in file
   for line in f:
    #Append list finding two or more capital strings until the "|" corresponding to name
    PlayerNames.append(re.findall('[A-Z]{1,}\s[A-Z.,-]{1,}\s[A-Z-\s]+?\|', line))
    
#Eliminate empty strings
PlayerNames = list(filter(None, PlayerNames))

#Create list for clean entries
PlayerNamesFinal = []

#Strip the space and '|'
#As we have a list of list we use two loops
#Loop through list 1
for i in PlayerNames:
    #Take list within list
    for n in i:
        #Strip undesired elements
        PlayerNamesFinal.append(n.strip("  |"))

#Print length to confirm we have exactly 64 entries per number of players
print(len(PlayerNamesFinal))

#Print our list to cross-reference with text file 
print(PlayerNamesFinal)

64
['GARY HUA', 'DAKSHESH DARURI', 'ADITYA BAJAJ', 'PATRICK H SCHILLING', 'HANSHI ZUO', 'HANSEN SONG', 'GARY DEE SWATHELL', 'EZEKIEL HOUGHTON', 'STEFANO LEE', 'ANVIT RAO', 'CAMERON WILLIAM MC LEMAN', 'KENNETH J TACK', 'TORRANCE HENRY JR', 'BRADLEY SHAW', 'ZACHARY JAMES HOUGHTON', 'MIKE NIKITIN', 'RONALD GRZEGORCZYK', 'DAVID SUNDEEN', 'DIPANKAR ROY', 'JASON ZHENG', 'DINH DANG BUI', 'EUGENE L MCCLURE', 'ALAN BUI', 'MICHAEL R ALDRICH', 'LOREN SCHWIEBERT', 'MAX ZHU', 'GAURAV GIDWANI', 'SOFIA ADINA STANESCU-BELLU', 'CHIEDOZIE OKORIE', 'GEORGE AVERY JONES', 'RISHI SHETTY', 'JOSHUA PHILIP MATHEWS', 'JADE GE', 'MICHAEL JEFFERY THOMAS', 'JOSHUA DAVID LEE', 'SIDDHARTH JHA', 'AMIYATOSH PWNANANDAM', 'BRIAN LIU', 'JOEL R HENDON', 'FOREST ZHANG', 'KYLE WILLIAM MURPHY', 'JARED GE', 'ROBERT GLEN VASEY', 'JUSTIN D SCHILLING', 'DEREK YAN', 'JACOB ALEXANDER LAVALLEY', 'ERIC WRIGHT', 'DANIEL KHAIN', 'MICHAEL J MARTIN', 'SHIVAM JHA', 'TEJAS AYYAGARI', 'ETHAN GUO', 'JOSE C YBARRA', 'LARRY HODGE', 'ALEX KONG', 'MARISA RICCI', 'MICHAEL LU', 'VIRAJ MOHILE', 'SEAN M MC CORMICK', 'JULIA SHEN', 'JEZZEL FARKAS', 'ASHWIN BALAJI', 'THOMAS JOSEPH HOSMER', 'BEN LI']

Store player states

Player states are uniquely two capital letters followed by a space and '|'

In [479]:
#Create empty list
PlayerStates = []

#Open file 
with open(r"C:\Users\ovadia sutton\Downloads\Project1.txt") as f:
    #Loop through the lines in file 
   for line in f:
    #Append list finding exactly two capital letters and space then "|" - corresponding to state 
    PlayerStates.append(re.findall('[A-Z]{2}\s\|', line))
    
#Eliminate empty strings
PlayerStates = list(filter(None, PlayerStates))

#Create list for clean entries
PlayerStatesFinal = []

#Strip the space and '|'
#As we have a list of list we use two loops
#Loop through list 1
for i in PlayerStates:
    #Take list within list
    for n in i:
        #Strip undesired elements
        PlayerStatesFinal.append(n.strip("  |"))
        

#Print length to confirm we have exactly 64 entries per number of players
print(len(PlayerStates1))

#Print list to cross-reference with text file 
print(PlayerStates1)

64
['ON', 'MI', 'MI', 'MI', 'MI', 'OH', 'MI', 'MI', 'ON', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'ON', 'MI', 'ON', 'MI', 'MI', 'ON', 'MI', 'MI', 'MI', 'ON', 'MI', 'ON', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'ON', 'MI', 'MI', 'MI']

Store player score

Player scores are uniquely a digit followed by a '.' followed by a second digit

In [480]:
#Create empty list
PlayerScores = []

#Open file 
with open(r"C:\Users\ovadia sutton\Downloads\Project1.txt") as f:
   #Loop through the lines in file 
   for line in f:
    #Append list with digit followed by '.' followed by digit - correspnding to score
    PlayerScores.append(re.findall('\d\.\d', line))

#Eliminate empty strings
PlayerScores = list(filter(None, PlayerScores))

#Create list for clean entries
PlayerScoresFinal = []

#Strip the space and '|'
#As we have a list of list we use two loops
#Loop through list 1
for i in PlayerScores:
    #Take list within list
    for n in i:
        #Strip undesired elements
        PlayerScoresFinal.append(n.strip("[]"))

#Print length to confirm we have exactly 64 entries per number of players
print(len(PlayerScoresFinal))

#Print list to cross-reference with text file
print(PlayerScoresFinal)

64
['6.0', '6.0', '6.0', '5.5', '5.5', '5.0', '5.0', '5.0', '5.0', '5.0', '4.5', '4.5', '4.5', '4.5', '4.5', '4.0', '4.0', '4.0', '4.0', '4.0', '4.0', '4.0', '4.0', '4.0', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.0', '3.0', '3.0', '3.0', '3.0', '3.0', '3.0', '3.0', '3.0', '2.5', '2.5', '2.5', '2.5', '2.5', '2.5', '2.0', '2.0', '2.0', '2.0', '2.0', '2.0', '2.0', '1.5', '1.5', '1.0', '1.0', '1.0']

Store player  pre tournament ratings

Player's pre-tournament rating are uniquely "R:" followed by one or two spaces followed by a 3-4 digit rating.
(We may exclude the R: but should include the space to prevent collecting the post tournament rating)

*We note the interest to store this in a computable way and save for next step

In [481]:
#Create empty list
PlayerRatingPre = []

#Open file 
with open(r"C:\Users\ovadia sutton\Downloads\Project1.txt") as f:
    #Loop through the lines in file 
   for line in f:
    #Append list with digit followed by '.' followed by digit - correspnding to score
    PlayerRatingPre.append(re.findall('R:\s\s?\d+', line))
    
#Eliminate empty strings
PlayerRatingPre = list(filter(None, PlayerRatingPre))

#Create list for clean entries
PlayerRatingPreFinal = []

#Strip the space and '|'
#As we have a list of list we use two loops
#Loop through list 1
for i in PlayerRatingPre:
    #Take list within list
    for n in i:
        #Strip undesired elements
        PlayerRatingPreFinal.append(n.strip("R:  "))

#Print length to confirm we have exactly 64 entries per number of players
print(len(PlayerRatingPreFinal))

#Print list to cross-reference with text file
print(PlayerRatingPreFinal)

64
['1794', '1553', '1384', '1716', '1655', '1686', '1649', '1641', '1411', '1365', '1712', '1663', '1666', '1610', '1220', '1604', '1629', '1600', '1564', '1595', '1563', '1555', '1363', '1229', '1745', '1579', '1552', '1507', '1602', '1522', '1494', '1441', '1449', '1399', '1438', '1355', '980', '1423', '1436', '1348', '1403', '1332', '1283', '1199', '1242', '377', '1362', '1382', '1291', '1056', '1011', '935', '1393', '1270', '1186', '1153', '1092', '917', '853', '967', '955', '1530', '1175', '1163']

Store average opponent rating

Approach: 
1. Store our unique player IDs. 
2. Create a dictionary with keys as unique ID and values as Pre-tournament rating
3. For each player we store their opponent's ID of each game
4. We use this to reference the dictionary and thier ratings
5. Take an average of their ratings and return

Create dictionary of IDs as key and Ratings as value

In [482]:
#Instead of pulling ID's from data we create a list from 1-64 and call it ID
ID = list(range(1, 65))

#Store ratings as int values 
PreRatingInt = [int(float(x)) for x in PlayerRatingPreFinal]

#Create dictionary with ID as key and PreRatingInt as value
IDRating = dict(zip(ID, PreRatingInt))

#Print dictionary
print(IDRating)

{1: 1794, 2: 1553, 3: 1384, 4: 1716, 5: 1655, 6: 1686, 7: 1649, 8: 1641, 9: 1411, 10: 1365, 11: 1712, 12: 1663, 13: 1666, 14: 1610, 15: 1220, 16: 1604, 17: 1629, 18: 1600, 19: 1564, 20: 1595, 21: 1563, 22: 1555, 23: 1363, 24: 1229, 25: 1745, 26: 1579, 27: 1552, 28: 1507, 29: 1602, 30: 1522, 31: 1494, 32: 1441, 33: 1449, 34: 1399, 35: 1438, 36: 1355, 37: 980, 38: 1423, 39: 1436, 40: 1348, 41: 1403, 42: 1332, 43: 1283, 44: 1199, 45: 1242, 46: 377, 47: 1362, 48: 1382, 49: 1291, 50: 1056, 51: 1011, 52: 935, 53: 1393, 54: 1270, 55: 1186, 56: 1153, 57: 1092, 58: 917, 59: 853, 60: 967, 61: 955, 62: 1530, 63: 1175, 64: 1163}

Collect match data 
Represented by either W, L, D followed by 1 or 2 digits (represnting ID)
Collect list of lists of opponents and show in data frame. Unplayed matches will show up as None

In [483]:
# Collect Match data 
#Declare Opponent ID
OpponentID = []

#Open file 
with open(r"C:\Users\ovadia sutton\Downloads\Project1.txt") as f:
    #Loop through the lines in file 
   for line in f:
    #Collect OpponentID identified as Capital letter followed 2 or 3 spaces followed by 1 or 2 digits followed by "|"
    OpponentID.append(re.findall('[A-Z]{1}\s\s\s?[\d]{1,2}\|', line))
    
#Eliminate empty strings
OpponentID = list(filter(None, OpponentID))

#Create list of lists for clean entries
OpponentIDFinal = []

#Strip undesired elements
for i in OpponentID:
    OpponentIDFinal.append(n.strip("WLD   |"  "")for n in i)

#Convert to int
#Create new list
OpponentIDInt = []

#Loop through OpponentIDFinal
for i in OpponentIDFinal:
    #Save values as int
    OpponentIDInt.append(int(float(x)) for x in i)

#Show OpponentIDInt in Dataframe
df1 = pd.DataFrame(OpponentIDInt)

print(df1)

     0     1     2     3     4     5     6
0   39  21.0  18.0  14.0   7.0  12.0   4.0
1   63  58.0   4.0  17.0  16.0  20.0   7.0
2    8  61.0  25.0  21.0  11.0  13.0  12.0
3   23  28.0   2.0  26.0   5.0  19.0   1.0
4   45  37.0  12.0  13.0   4.0  14.0  17.0
..  ..   ...   ...   ...   ...   ...   ...
59  33  34.0  45.0  42.0  24.0   NaN   NaN
60  32   3.0  54.0  47.0  42.0  30.0  37.0
61  55   NaN   NaN   NaN   NaN   NaN   NaN
62   2  48.0  49.0  43.0  45.0   NaN   NaN
63  22  30.0  31.0  49.0  46.0  42.0  54.0

[64 rows x 7 columns]

Use OpponentID list of lists as key to identify ratings value from IDRating dictionary then take average 
*We struggled a bit here with reading dictionaries and building new lists to compute average but think we are on the doorstep

In [488]:
#Create list for Opponent Rating
OpponentRating = []

#Loop through OpponentID
for i in OpponentIDFinal:
    #Use as key for OpponentRating
    OpponentRating.append(IDRating[x] for x in i)

#Create list for Opponent Average
"""OpponentAverage = []"""

#Loop through Opponent Rating lists
""""for i in OpponentRating:"""
    #Compute Average of each list and assign to Opponent Average
"""OpponentAverage.append(st.mean(i))"""

#print results 
print(OpponentRating)

[<generator object <genexpr> at 0x0000019939B98EB0>, <generator object <genexpr> at 0x0000019939B98B30>, <generator object <genexpr> at 0x0000019939B98BA0>, <generator object <genexpr> at 0x0000019939B98AC0>, <generator object <genexpr> at 0x0000019939B98A50>, <generator object <genexpr> at 0x0000019939B98970>, <generator object <genexpr> at 0x0000019939B98890>, <generator object <genexpr> at 0x0000019939B986D0>, <generator object <genexpr> at 0x0000019939B98DD0>, <generator object <genexpr> at 0x0000019939A01350>, <generator object <genexpr> at 0x0000019939A012E0>, <generator object <genexpr> at 0x0000019939A01270>, <generator object <genexpr> at 0x0000019939A01200>, <generator object <genexpr> at 0x0000019939A01190>, <generator object <genexpr> at 0x0000019939A01120>, <generator object <genexpr> at 0x0000019939A010B0>, <generator object <genexpr> at 0x0000019939A01040>, <generator object <genexpr> at 0x0000019939B5B200>, <generator object <genexpr> at 0x0000019939B5B270>, <generator object <genexpr> at 0x0000019939B5B4A0>, <generator object <genexpr> at 0x0000019939B5B2E0>, <generator object <genexpr> at 0x0000019939B5B430>, <generator object <genexpr> at 0x0000019939B5B510>, <generator object <genexpr> at 0x0000019939B5B580>, <generator object <genexpr> at 0x0000019939B5B5F0>, <generator object <genexpr> at 0x0000019939B5B660>, <generator object <genexpr> at 0x0000019939B5B6D0>, <generator object <genexpr> at 0x0000019939B5B740>, <generator object <genexpr> at 0x0000019939B5B7B0>, <generator object <genexpr> at 0x0000019939B5B820>, <generator object <genexpr> at 0x0000019939B5B890>, <generator object <genexpr> at 0x0000019939B5B900>, <generator object <genexpr> at 0x0000019939B5B970>, <generator object <genexpr> at 0x0000019939B5B9E0>, <generator object <genexpr> at 0x0000019939B5BA50>, <generator object <genexpr> at 0x0000019939B5BAC0>, <generator object <genexpr> at 0x0000019939B5BB30>, <generator object <genexpr> at 0x0000019939B5BBA0>, <generator object <genexpr> at 0x0000019939B5BC10>, <generator object <genexpr> at 0x0000019939B5BC80>, <generator object <genexpr> at 0x0000019939B5BCF0>, <generator object <genexpr> at 0x0000019939B5BD60>, <generator object <genexpr> at 0x0000019939B5BDD0>, <generator object <genexpr> at 0x0000019939B5BE40>, <generator object <genexpr> at 0x0000019939B5BEB0>, <generator object <genexpr> at 0x0000019939B5BF20>, <generator object <genexpr> at 0x0000019939B5BF90>, <generator object <genexpr> at 0x0000019939B50F90>, <generator object <genexpr> at 0x0000019939B50F20>, <generator object <genexpr> at 0x0000019939B50EB0>, <generator object <genexpr> at 0x0000019939B50E40>, <generator object <genexpr> at 0x0000019939B50DD0>, <generator object <genexpr> at 0x0000019939B50D60>, <generator object <genexpr> at 0x0000019939B50CF0>, <generator object <genexpr> at 0x0000019939B50C80>, <generator object <genexpr> at 0x0000019939B50C10>, <generator object <genexpr> at 0x0000019939B50BA0>, <generator object <genexpr> at 0x0000019939B50B30>, <generator object <genexpr> at 0x0000019939B50AC0>, <generator object <genexpr> at 0x0000019939B50A50>, <generator object <genexpr> at 0x0000019939B509E0>, <generator object <genexpr> at 0x0000019939B50970>, <generator object <genexpr> at 0x0000019939B50900>, <generator object <genexpr> at 0x0000019939B50890>]

Create dataframe

In [489]:
#reate data frame with our lists and label columns
df = pd.DataFrame(list(zip(PlayerNamesFinal, PlayerStatesFinal, PlayerScoresFinal, PlayerRatingPreFinal)),
               columns =['Player Name', 'State', 'Score', 'Pre-Rating'])
#print results
print(df)

             Player Name State Score Pre-Rating
0               GARY HUA    ON   6.0       1794
1        DAKSHESH DARURI    MI   6.0       1553
2           ADITYA BAJAJ    MI   6.0       1384
3    PATRICK H SCHILLING    MI   5.5       1716
4             HANSHI ZUO    MI   5.5       1655
..                   ...   ...   ...        ...
59            JULIA SHEN    MI   1.5        967
60         JEZZEL FARKAS    ON   1.5        955
61         ASHWIN BALAJI    MI   1.0       1530
62  THOMAS JOSEPH HOSMER    MI   1.0       1175
63                BEN LI    MI   1.0       1163

[64 rows x 4 columns]

Create CSV file

In [490]:
#Create CSV file with results
df.to_csv(r"C:\Users\ovadia sutton\Downloads\Chess_Results.csv")

Some questions:

1. I was saving lists of lists instead of list of strings and then converting to list of strings as can be observed. Would be simpler to just save as list of strings from the start. When I tried to do that I got a lot of errors. Can use some guidance on this. 

2. How to use a character for criteria but not include in actual list. Here I include the "|" and then strip. How can I use the "|" to define criteria but not include in name/state etc.